<%= link_to "Edit this task", edit_task_path %>

<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p> This tasks is <em> <%= @task.completed ?  "completed" : "not completed yet" %> </em> !</p>

<%= link_to "Back to list", tasks_path %>
